<p>I'm the admin!</p>

<p>Your Admin ID: <%= @admin.id %></p>
<p>Today's date: <%= @date %></p>
<p>Day of the week: <%= @dayofweek %></p>
<p>Weeknumber: <%= @weeknumber %></p>

<p><%= "=" * 50 %></p>

<b><p>Monday</p></b>
<% @monday.each do |pair| %>
<p>Student 1 is: <%= Student.find(pair.student1).email %> + Student 2 is: <%= Student.find(pair.student2).email %>
<% end %>
<!-- <p>%%%%% <#%= @monday_date %></p> -->

<b><p>Tuesday</p></b>
<% @tuesday.each do |pair| %>
<p>Student 1 is: <%= pair.student1 %> and Student 2 is: <%= pair.student2 %>
<% end %>

<b><p>Wednesday</p></b>
<% @wednesday.each do |pair| %>
<p>Student 1 is: <%= pair.student1 %> and Student 2 is: <%= pair.student2 %>
<% end %>

<b><p>Thursday</p></b>
<% @thursday.each do |pair| %>
<p>Student 1 is: <%= pair.student1 %> and Student 2 is: <%= pair.student2 %>
<% end %>

<b><p>Friday</p></b>
<% @friday.each do |pair| %>
<p>Student 1 is: <%= pair.student1 %> and Student 2 is: <%= pair.student2 %>
<% end %>
